.prenchUser {
  flex: 5;
  margin-left: 10px;
}

.prenchUserForm {
  display: flex;
  flex-wrap: wrap;
}

.prenchUserItem {
  width: 400px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  margin-right: 20px;
  
}

.prenchUserItem> label {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 600;
  color: rgb(151, 150, 150);
}

.prenchUserItem> input {
  height: 20px;
  padding: 10px;
  border: 1px solid gray;
  border-radius: 5px;
 
}

.newUserGender > input {
  margin-top: 15px;
}

.newUserGender>label{
    margin: 10px;
    font-size: 18px;
    color: #555;
}

.prenchUserSelect{
    height: 40px;
    border-radius: 5px;
}

.prenchUserButton{
    width: 200px;
    border: none;
    background-color: rgb(2, 131, 82);
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 50px;
    cursor: pointer;
}

.prenchUserTitle{

  padding: 5px 10px;
}


